
<script>
document.addEventListener('DOMContentLoaded', function(e) {
  (function() {
    var inputs = document.querySelectorAll('.form__file-input');
    var fileNameOutput = document.querySelector('.form__file-name');
    inputs.forEach(function(input) {
      var label	 = document.querySelector('.form__file-upload-label');
      labelVal = label.innerHTML;

      input.addEventListener('change', function(e) {
        var fileName = '';
        fileName = e.target.value.split('\\').pop();
        label.innerHTML = 'Change Image';
        fileNameOutput.innerHTML = fileName;
      });
    });
  })();
})
</script>

<div class="form-wrapper">
  <%= form_for(@article, html: {multipart: true, class: 'form'}) do |f| %>
  <ul>
    <% @article.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
  <div class="field-group">
    <%= f.text_field :title, placeholder: "Title", class: "form__input", required: :true, pattern: '.{3,}' %>
    <%= f.label :title, class: "form__label" %>
  </div>
  <div class="field-group">
    <%= f.text_field :tag_list, placeholder: "Tags (Comma Separated)", class: "form__input", required: :true, pattern: '.{2,}' %>
    <%= f.label "Tags (Comma Separated)", class: "form__label" %>
  </div>
  <div class="field-group">
    <% if @article.image.exists? %>
      <div class="form__attached-img">
        <%= image_tag @article.image.url %>
      </div>  
    <%= f.label :image, "Change Image", class: "form__file-upload-label" %>
    <% else %>
    <%= f.label :image, "Upload Image", class: "form__file-upload-label" %>
    <% end %>
    <span class="form__file-name"></span>
    <%= f.file_field :image, class: "form__file-input" %>
  </div>
  <div class="field-group">
    <%= f.text_area :body, placeholder: "Article Content", class: "form__input", required: :true,  minlength: '3', rows: 16 %>
    <%= f.label :body, "Article Content", class: "form__label" %>
  </div>
  <div class="field-group form-submit">
    <%= f.submit "Create Article", class: "form__submit" %>
  </div>
  <% end %>

</div>