<%= form_for(@article, html: {multipart: true}) do |f| %>
  <ul>
    <% @article.errors.full_messages.each do |err| %>
      <li><%= err %></li>
    <% end %>
  </ul>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "Title"  %>
  </div>
  <div class="form-group">
    <% if @article.image.exists? %>
      <div class="form-group__attached-img">
        <%= image_tag @article.image.url %>
      </div>
    <% end %>
    <%= f.label :image, "Attach a New Image" %>
    <%= f.file_field :image %>
  </div>
  <div class="form-group">
    <%= f.label :tag_list %>
    <%= f.text_field :tag_list, placeholder: "Comma separated tags" %>
  </div>
  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, placeholder: "Content"  %>
  </div>
  <div class="form-group form-submit">
    <%= f.submit %>
  </div>
<% end %>
