<h1>Login</h1>

<%= form_tag author_sessions_path, method: :post, class: 'form', style: 'max-width: 400px' do %>
  <div class="field-group">
    <%= text_field_tag :email, nil, placeholder: "Email/Username", class: "form__input", required: :true %>
    <%= label_tag "Email/Username", nil, class: "form__label" %>
  </div>
  <div class="field-group">
    <%= password_field_tag :password, nil, placeholder: "Password", class: "form__input", required: :true %>
    <%= label_tag :password, nil, class: "form__label" %>
  </div>
  <div class="field-group" style="text-align: center;">
    <%= submit_tag "Login", class: "form__submit" %>
  </div>
<% end %>